html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.demo-body {
  background: 	#ac09d3;
  height: 100%;
  width: 100%;
  align-content: center;
  color: #09d3ac;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countainer {
  margin-bottom: 20px;
}

.parent-marquee {
  border: 5px solid #09d3ac;
  font-size: 36px;
  color: 	#d30930;
  background: #d3ac09;
}